<div class="jumbotron">
	<h1>Looking for a great deal?</h1>
	<p>A great deal is more than a low price. Getting a great deal involves getting the right product for the lowest price possible. Other deal sites will help you find low prices. But what if you're not sure which item is best for you? And how do you know the current price is the best price?</p>
	<p>That's why we're here. Tell us a little bit about what you want, and we'll do all the research for you to ensure you get the best deal possible.</p>

	<p><%= link_to "Ready to get started?", get_started_path, class: "btn btn-lg btn-primary", role: "button" %></p>
</div>